body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  background: #404040;
  height: 3rem;
  margin: 0;
  padding: 0;
}
h3 {
  color: #fff;
  font-weight: 0.3rem;
}

/* ==============project css================== */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
  z-index: 2;
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}
.nav-header {
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 2rem; */
}

.nav-link {
  /* display: block; */
  /* padding: 1rem 2rem; */
  text-transform: capitalize;
  color: hsl(185, 57%, 50%);
  cursor: pointer;
  font-size: 1rem;
}
.nav-link:hover {
  color: #404040;
  background: hsl(186, 100%, 94%);
  padding-left: 2.25rem;
}
/* for 280px */
.nav-links {
  height: 0;
  /* overflow: hidden; */
  /* transition: var(--transition); */
}
.nav-links li {
  display: inline;
  margin: 1rem;
}

.section {
  margin: 1rem;
  width: 100vw;
}
.about {
  display: flex;
}
.about-form {
  width: 40%;
}
.about-img {
  width: 60%;
  height: 600px;
}
.about-photo {
  width: 700px;
  height: 600px;
}
.contact {
  background: #f1f5f8;
}
.contact-form,
.contact-info {
  margin: 1rem 0;
}
.contact-item {
  margin-bottom: 1.75rem;
}
.contact-title {
  color: var(--clr-primary);
  font-weight: 400;
}
.contact-text {
  text-transform: uppercase;
}
.contact-form {
  background: #404040;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  max-width: 35rem;
  margin-right: 50px;
}
.contact-form:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.contact-form h3 {
  padding-top: 1.25rem;
  color: #617d98;
}
.form-group {
  padding: 1rem 1.5rem;
}
.form-control {
  display: block;
  width: 95%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: #fff;
  border-radius: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
.form-control::placeholder {
  font-family: var(--ff-primary);
  color: var(--clr-grey-1);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
/* @media screen and (min-width: 992px) {
  .contact-form,
  .contact-info {
    /* float: left; */
/* width: 40%; */
/* } */
.about {
  margin: 1rem;
  padding: 1rem;
}
.headings {
  margin: 1rem;
  padding: 1rem;
}
.headings h4 {
  font-size: 1rem;
  font-weight: 0.25rem;
  font-family: 'Courier New', Courier, monospace;
}
.underline {
  color: brown;
  width: 0.5rem;
  height: 0.5rem;
}
.main-container {
  display: flex;
}
.img-container {
  width: 40%;
  padding: 1rem;
  margin: 1 rem;
}
.special-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: palevioletred;
}
.about-text p {
  color: pink;
}
.about-text {
  width: 50%;
}
/* ============services================ */
.services {
  background: var(--clr-grey-10);
}
.service {
  text-align: center;
  margin-bottom: 3rem;
}
.service-icon {
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.5rem;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service-text {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 576px) {
  .service-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .service {
    flex: 0 0 calc(50% - 1rem);
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 576px) {
  .service {
    flex: 0 0 calc(33.333% - 1rem);
  }
}
@media screen and (min-width: 1170px) {
  .service {
    display: flex;
    text-align: left;
  }
  .service-icon {
    align-self: start;
  }
  .service-info {
    padding-left: 1rem;
  }
  .service-title {
    margin-bottom: 0.5rem;
  }
}
